@import './_colors.scss';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.main {
  overflow: auto;
}

h1 {
  margin-bottom: 5px;
  text-align: center;
}

.gameBoard__container {
  box-shadow: 0px 0px 10px 3px $boxshadow-gray;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background: $limegreen;
  border-radius: 10px;
  overflow: auto;
  &.gameBoard__container-unclickable {
    cursor: not-allowed;
    .tile {
      pointer-events: none;
    }
  }
}
.tile {
  box-shadow: 0 0 0 1px black;
  &.tile_false {
    background: white;
  }
  &.tile_true {
    background: linear-gradient(0deg, $teal 0%, $limegreen 100%);
  }
}
